.idea
.vscode/
*.swp
*.swo
*.swn
*.bak
*.sublime*
*.iml
*.iml.*
*.suo
*.sln
*.sw?
*~.nib
*.mako
*.rej
*.orig
*.git
*.hg
*.bzr
*.svn
*.sass-cache
.sass-cache
cscope*
*.komodoproject

node_modules
build
dist
.env

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
*.bak

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes